@model CategoryVM

@{
    ViewBag.Title = "ListCategories";
}

<div class="jumbotron">
   Kategori Listesi
</div>
<hr />
<div class="panel panel-primary">
    <div class="panel panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategori ID</th>
                    <th>Kategori Ismi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category item in Model.Categories)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.CategoryName</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

